@media only screen and (max-width:640px){
	.jumbotron p
	{
		font-size:16px;
	}

	h1
	{
		font-size:28px;
	}

	h2
	{
		font-size:24px;
	}

	h3
	{
		font-size: 20px;
	}
	.col-xs-12
	{
		max-width: 200px;
		margin-left: 15px;
	}
	.jumbotron
	{
		padding-left: 0px;
	}
	.container-fluid
	{
		padding:0;
	}
	nav li
	{
		margin-left: 25px;
	}
	.navbar-toggle
	{
		margin-right: 30px;
	}
	#myTabContent
	{
		padding:5px 2px 5px 5px;
	}
}
@media (max-width:767px){
	#name
	{
		display:none;
	}
	#abrev
	{
		display:block;
	}
}
.navbar
{
	background-image:linear-gradient(to bottom, #489ab8, #81c3db );
}
.ml-auto
{
	text-align: center;
}
body
{
	background:white;
	background:-webkit-linear-gradient(#bba3d0,white);
	background:-o-linear-gradient(#bba3d0,white);
	background:-moz-linear-gradient(#bba3d0,white);
	background:linear-gradient(#bba3d0,white);
	font-family: 'Raleway', sans-serif;
}
footer
{
	background:white;
	background:-webkit-linear-gradient(white,#bba3d0);
	background:-o-linear-gradient(white,#bba3d0);
	background:-moz-linear-gradient(white,#bba3d0);
	background:linear-gradient(white,#bba3d0);
}
img
{
	width: 100%;
	height: 100%;
	max-width: 317px;
	object-fit: contain;
	box-shadow:0 5px 15px rgba(0, 0, 0, 0.5);
	border-radius: 40px;
	margin:auto;
}
.jumbotron
{
	margin:auto;
	max-width:1441px; 
	opacity: .9;
	filter: alpha(opacity=90);
	-moz-opacity:.9;
}
.padtop
{
	padding-top: 72px;
}
.web
{
	text-decoration:underline;
}
#school
{
	padding-bottom:10px;
}
#text
{
	font-size: 14px;
}
th
{
	text-align: center;
	font-size:21px;
}
.table tbody tr td
{
	text-align: center;
	border-top: 1px solid #fcfbfd;
}
.table
{
	background-color: #fcfbfd;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
	border-radius:6px;
	font-size: 15px;
}
.reshead
{
	text-align: center;
}
#work
{
	padding: 10px;
}