@media only screen and (max-width:640px){
	.jumbotron p
	{
		font-size:16px;
	}

	h1
	{
		font-size:28px;
	}

	h2
	{
		font-size:24px;
	}

	h3
	{
		font-size: 20px;
	}
	.col-xs-12
	{
		max-width: 200px;
		margin-left: 15px;
	}
	.jumbotron
	{
		padding-left: 0px;
	}
	.container-fluid
	{
		padding:0;
	}
	nav li
	{
		margin-left: 25px;
	}
	.navbar-toggle
	{
		margin-right: 30px;
	}
	#myTabContent
	{
		padding:5px 2px 5px 5px;
	}
}
@media (max-width:767px){
	#name
	{
		display:none;
	}
	#abrev
	{
		display:block;
	}
}
body
{
	background:#272b30;
	background:-webkit-linear-gradient(#272b30,#76787a);
	background:-o-linear-gradient(#272b30,#76787a);
	background:-moz-linear-gradient(#272b30,#76787a);
	background:linear-gradient(#272b30,#76787a);
}
footer
{
	background:#272b30;
	background:-webkit-linear-gradient(#76787a,#272b30);
	background:-o-linear-gradient(#76787a,#272b30);
	background:-moz-linear-gradient(#76787a,#272b30);
	background:linear-gradient(#76787a,#272b30);
}
img
{
	width: 100%;
	height: 100%;
	max-height: 385px;
	max-width: 317px;
	object-fit: contain;
	box-shadow:0 5px 15px rgba(0, 0, 0, 0.5);
	border-radius: 60px;
	margin:auto;
}
#name
{
	margin-top:10px;
}
.navbar-header
{
	height:50px;
}
.navbar-right
{
	font-size:20px;
}
.jumbotron
{
	margin:auto;
	opacity: .9;
	filter: alpha(opacity=90);
	-moz-opacity:.9;
}
.padtop
{
	padding-top: 72px;
}
.web
{
	text-decoration:underline;
}
#school
{
	padding-bottom:10px;
}
#page1
{
	background-image: url(../images/castle.png);
	background-repeat: no-repeat;
	background-position:center bottom;
	background-attachment: fixed;
}
#page3
{
	background-image: url(../images/str.png);
	background-repeat: no-repeat;
	background-position:center;
	background-attachment: fixed;
}